{:aliases
  {:step0_repl {:main-opts ["--main" "mal.s0"]}
   :step1_read_print {:main-opts ["--main" "mal.s1"]}
   :step2_eval {:main-opts ["--main" "mal.s2"]}
   :step3_env {:main-opts ["--main" "mal.s3"]}
   :step4_if_fn_do {:main-opts ["--main" "mal.s4"]}
   :step5_tco {:main-opts ["--main" "mal.s5"]}
   :step6_file {:main-opts ["--main" "mal.s6"]}
   :step7_quote {:main-opts ["--main" "mal.s7"]}
   :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.7"}}
           :main-opts ["-m" "nrepl.cmdline" "--middleware"
                       "[cider.nrepl/cider-middleware]"]}
   :repl {:extra-deps {reply/reply {:mvn/version "0.5.1"}}
          :extra-paths ["test"]
          :main-opts ["--main" "reply.main"]}
   :cover {:extra-paths ["test"]
           :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
           :main-opts ["--main" "cloverage.coverage"
                       "--src-ns-path" "src"
                       "--test-ns-path" "test"]}
   :test {:extra-paths ["test"]
          :main-opts ["--main" "mal.run-tests"]}}}
