{:aliases
  {:step0_repl {:exec-fn mal.s0/main}
   :step1_read_print {:exec-fn mal.s1/main}
   :step2_eval {:exec-fn mal.s2/main}
   :step3_env {:exec-fn mal.s3/main}
   :step4_if_fn_do {:exec-fn mal.s4/main}
   :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.7"}}
           :main-opts ["-m" "nrepl.cmdline" "--middleware"
                       "[cider.nrepl/cider-middleware]"]}
   :repl {:extra-deps {reply/reply {:mvn/version "0.5.1"}}
          :extra-paths ["test"]
          :main-opts ["--main" "reply.main"]}
   :cover {:extra-paths ["test"]
           :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
           :main-opts ["--main" "cloverage.coverage"
                       "--src-ns-path" "src"
                       "--test-ns-path" "test"]}
   :test {:extra-paths ["test"]
          :main-opts ["--main" "mal.run-tests"]}}}
